* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-family: Arial;
}

body {
  --board-rotate: 0deg;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  background-color: rgb(234, 229, 229);
  position: relative;
}

.container,
.container-in-tutorial {
  --piece-section-length: 70vmin;
  --piece-section-width: 22vmin;
  /* --piece-section-width: calc((100vmax - var(--piece-section-length)) / 2 - 2vmin); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
  transform: rotate(calc(0deg - var(--board-rotate)));
}

.container-in-tutorial {
  --piece-section-length: 30vmin;
  --piece-section-width: 9vmin;
  pointer-events: none;
}

.selected-piece-in-tutorial {
  box-shadow: 0px 0px 2vmin rgb(255, 0, 204);
}

.board {
  display: grid;
  grid-template-columns: repeat(4, calc(var(--piece-section-length) / 4));
  grid-template-rows: repeat(4, calc(var(--piece-section-length) / 4));
  box-shadow: 1px 1px 3px rgb(190, 190, 190), -1px -1px 3px rgb(190, 190, 190);
  
  background-color: rgb(221, 168, 93);
  background-image: repeating-linear-gradient(36deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 0px, transparent 3px);
}

.cell {
  border: 0.3px solid rgb(83, 83, 83);
}

.piece-section {
  background-color: rgb(202, 197, 181);
  background-image: repeating-linear-gradient(0deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent -19px, transparent 3px);
  width: var(--piece-section-length);
  height: var(--piece-section-width);
  max-height: 25vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vmin;
  border-radius: 1rem;
  box-shadow: 0px 0px 2px rgb(139, 139, 139);
}

.piece-stack {
  width: calc(var(--piece-section-length) / 4);
  height: calc(var(--piece-section-width) - 2vmin);
  max-height: calc(var(--piece-section-length) / 4);
}

.piece-stack,
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.piece {
  width: 96%;
  height: 96%;
  border-radius: 50%;
  background: radial-gradient(
    ellipse at 50% 50%,
    hsl(26, 3%, 50%) 0%,
    hsl(0, 0%, 15%) 35%,
    hsl(0, 0%, 0%) 55%,
    hsl(0, 0%, 47%) 100%
  );
  position: absolute;
  border: none;
}

.selected {
  box-shadow: 0px 0px 20px rgb(255, 0, 204);
}

.piece[data-color="0"] {
  background: radial-gradient(
    ellipse at 50% 50%,
    hsl(0, 0%, 100%) 0%,
    hsl(0, 0%, 95%) 20%,
    hsl(0, 0%, 77%) 100%
  );
}

.piece[data-size="1"] {
  width: 27%;
  height: 27%;
}

.piece[data-size="2"] {
  width: 48%;
  height: 48%;
}

.piece[data-size="3"] {
  width: 72%;
  height: 72%;
}

.timer_section {
  /* --color1: hsl(0, 48%, 70%);
  --color2: hsl(0, 88%, 30%);
  --color3: hsl(5, 60%, 45%); */
  --color1: hsl(120, 34%, 62%);
  --color2: hsl(120, 53%, 20%);
  --color3: hsl(120, 38%, 44%);
  width: var(--piece-section-length);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.setting-section {
  margin: 0.1rem 0 0 0;
}

.setting-section:first-of-type {
  margin: 0 0 0.1rem 0;
}

.timer_section:first-of-type,
.setting-section:first-of-type {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg); /* Safari & Chrome */
  -moz-transform: rotate(180deg); /* Firefox */
  -ms-transform: rotate(180deg); /* Internet Explorer */
}

.setting-section:first-of-type .setting-btn {
  display: none;
}

.setting-div {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 5px 5px 30px rgb(100, 100, 100), -5px -5px 30px rgb(100, 100, 100);
  width: 70vmin;
  padding: 4vmin 5vmin;
  border-radius: 3vmin;
  z-index: 1;
  max-height: 65vmax;
  overflow-y: auto;
}

.setting-div h1 {
  text-align: center;
  font-size: 5vmin;
  margin-bottom: 2vmin;
  text-shadow: 2px 4px 8px rgb(224, 224, 224);
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 1.1rem 0;
  font-size: 4vmin;
}

.tutorial-div {
  margin: 1.1em 0 0.5em auto;
  float: right;
}

.tutorial-btn {
  font-size: 3.5vmin;
  cursor: pointer;
  color: rgba(147, 74, 74, 0.9);
}

.back-btn {
  cursor: pointer;
  font-size: 3.5vmin;
}

.rule-list {
  margin: 0 1em 0.5em 1.8em;
  font-size: 3.5vmin;
}

.rule-list li {
  margin: 1em 0;
}

.container-in-tutorial {
  margin-bottom: 3rem;
}

.tutorial-btn:hover {
  color: rgba(147, 74, 74, 0.6);
}

.tutorial-content {
  display:none;
}

.subtitle {
  text-shadow: 0px 0px 5px rgb(198, 198, 198);
  word-break: keep-all;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background-color: rgba(8, 8, 8, 0.5);
}

.btn {
  border: 1px solid black;
  border-radius: 1.5em;
  padding: 0.3em 0.8em;
  margin: 0 1vmin;
  /* box-shadow: 0px 1px 1px rgb(172, 172, 172); */
  cursor: pointer;
  font-size: 0.8rem;
  color: rgb(64, 64, 64);
  background-color: rgb(226, 222, 222);
}

.btn:hover {
  background-color: rgb(225, 225, 225);
}

.btn:active {
  box-shadow: inset 1px 1px 1px rgb(200, 200, 200);
}

.btn.disabled {
  color: rgb(171, 171, 171);
  border: 1px solid rgb(171, 171, 171);
  box-shadow: none;
  cursor: default;
  background-color: transparent;
}

.fas {
  margin-right: 0.4rem;
  text-shadow: 1px 1px 1px rgb(217, 206, 206);
}

.timer-bar-wrapper {
  width: 100%;
  background-color: #ddd;
  box-shadow: inset 0 0 8px #c8c8c8;
  border-radius: 1rem;
  overflow: hidden;
}

.timer-bar {
  --bar-width: 12.5%;
  width: var(--bar-width);
  height: 4vmin;
  border-radius: 1rem;
  background: linear-gradient(to bottom, var(--color1), var(--color2));
  transition: width 85ms linear, height 85ms linear;
}

.transition-smooth {
  transition: width 500ms cubic-bezier(0, 0.01, 0.1, 1),
    height 500ms cubic-bezier(0, 0.01, 0.1, 1);
}

.timer-number {
  margin-left: 5px;
  font-size: 4.5vmin;
  color: var(--color3);
  font-weight: bold;
  width: 0;
  transform: rotate(var(--rotate, 0deg)) translate(0, var(--shake, 0px));
  -webkit-transform: rotate(var(--rotate, 0deg)) translate(0, var(--shake, 0px)); /* Safari & Chrome */
  -moz-transform: rotate(var(--rotate, 0deg)) translate(0, var(--shake, 0px)); /* Firefox */
  -ms-transform: rotate(var(--rotate, 0deg)) translate(0, var(--shake, 0px)); /* Internet Explorer */
}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  10%,
  90% {
    --shake: -0.5px;
  }
  20%,
  80% {
    --shake: +1px;
  }
  30%,
  70% {
    --shake: -2px;
  }
  40%,
  60% {
    --shake: +2px;
  }
  50% {
    --shake: -2px;
  }
}

@-webkit-keyframes shake {
  10%,
  90% {
    --shake: -0.5px;
  }
  20%,
  80% {
    --shake: +1px;
  }
  30%,
  70% {
    --shake: -2px;
  }
  40%,
  60% {
    --shake: +2px;
  }
  50% {
    --shake: -2px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 10vmin;
  height: 4vmin;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0.4vmin;
  left: 0;
  right: 0;
  bottom: -0.5vmin;
  background-color: #eee;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 4.1vmin;
  width: 4.1vmin;
  left: 0px;
  bottom: 0vmin;
  background-color: rgb(244, 244, 244);
  box-shadow: 0px 0px 5px rgb(216, 216, 216);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(239, 191, 191);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(239, 191, 191);
}

input:checked + .slider:before {
  -webkit-transform: translateX(5.9vmin);
  -ms-transform: translateX(5.9vmin);
  transform: translateX(5.9vmin);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.input-container {
  display: block;
  position: relative;
  padding-left: 7vmin;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.input-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0.5vmin;
  left: 0;
  height: 5vmin;
  width: 5vmin;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.input-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.input-container input:checked ~ .checkmark {
  background-color: rgb(239, 191, 191);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.input-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.input-container .checkmark:after {
  top: 1.8vmin;
  left: 1.8vmin;
  width: 1.5vmin;
  height: 1.5vmin;
  border-radius: 50%;
  background: white;
}

@media (orientation: landscape) {
  .container,
  .setting-div {
    transform: rotate(calc(-90deg - var(--board-rotate)));
  }
}

@media screen and (orientation: portrait) and (min-width: 380px),
  (orientation: landscape) and (min-height: 380px) {
  .container {
    --piece-section-length: 65vmin;
    --piece-section-width: 20vmin;
  }

  .btn {
    font-size: 1rem;
  }
}

@media screen and (orientation: portrait) and (min-width: 414px),
(orientation: landscape) and (min-height: 414px) {
  .container {
    --piece-section-length: 55vmin;
    --piece-section-width: 17vmin;
  }
}

@media screen and (orientation: portrait) and (min-width: 460px),
(orientation: landscape) and (min-height: 460px) {
  .container {
    --piece-section-length: 45vmin;
    --piece-section-width: 14vmin;
  }
}

@media screen and (orientation: portrait) and (min-width: 560px),
(orientation: landscape) and (min-height: 560px) {
  .container {
    --piece-section-length: 43vmin;
    --piece-section-width: 13vmin;
  }
  .btn {
    font-size: 1.1rem;
  }
}
